.docs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.docs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 1.5rem;
    padding: 0 1em;
    border-bottom: 1px solid #bebebe;
    text-align: center;
}

.docs-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.docs-title h1 {
    margin: 0;
}

.docs-search {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    min-width: 300px;
    margin-bottom: 0.5rem;
}

.docs-search-input-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 60%;
    border: 1px solid #bebebe;
    border-radius: 5px;
    background-color: #ffffff;
    margin-right: 0.3rem;
}

.docs-search-input-container.focused {
    border-color: rgba(255, 93, 93, 0.47);
    box-shadow: 0 0 2px 2px rgba(255, 69, 69, 0.25);
}

.docs-search-input-container .docs-search-input {
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
}

.docs-search-input-container .docs-search-input::-moz-placeholder {
    font-family: var(--font-family);
}

.docs-search-input-container .docs-search-input::placeholder {
    font-family: var(--font-family);
}

.docs-search-input-container .docs-search-input:focus {
    outline: none;
}

.docs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.my-docs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 1em;
    padding: 0;
    list-style-type: none;
}

.my-docs-list .my-docs-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #0000001a;
    padding: 1em;
    margin: 0.5em;
    text-align: center;
    transition: all 0.5s ease;
    position: relative;
}

.my-docs-list-item .my-docs-item-header {
    border-bottom: 1px solid #bebebe;
    height: 10%;
}

.my-docs-list-item .my-docs-item-header, .my-docs-list-item .my-docs-list-item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.my-docs-list-item .my-docs-list-item-content {
    margin-top: 0.5em;
    max-height: 100px;
}

.my-docs-list-item .my-docs-list-item-content.expanded {
    max-height: -moz-fit-content;
    max-height: fit-content;
}

.my-docs-item-header .my-docs-item-header-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.my-docs-item-header-section p {
    font-size: 1.2em;
    font-weight: 600;
}

.my-docs-list-item .my-docs-list-item-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    position: relative;
}

.my-docs-list-item-section p {
    font-size: 1em;
}

.my-docs-list-item-section p.description {
    width: 100%;
    font-size: 0.9em;
}

.my-docs-list-item-content.expanded .my-docs-list-item-section.overflowing::before {
    display: none;
}

.my-docs-list-item .my-docs-list-item-section.overflowing::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 60px, white);
}

.my-docs-list-item-section .description {
    font-size: 0.9em;
    margin: 0;
    overflow: hidden;
    max-height: 100%;
}

.my-docs-download-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    border: 1px solid #797979;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    background-color : #ffffff;
    color: var(--color-red);
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    height: -moz-min-content;
    height: min-content;
    font-style: italic;
    padding: 0.2rem 0.65rem 0.2rem 0.5rem;
    transition: all 0.5s linear, color 0.5s linear;
    overflow: hidden;
    box-shadow: 1px 1px 0.5px 0.8px #0000001a;
}

.my-docs-download-button:hover {
    color: #ffffff;
    background-color: var(--color-red);
}

.my-docs-download-button:active {
    transition: none;
    background-color: #b32323;
    color: #bebebe;
    box-shadow: 1px 1px 0.5px 0.8px #0000001a inset;
}

.my-docs-show-more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
}

.my-docs-show-more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    border: 1px solid #797979;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 500;
    background-color : #ffffff;
    color: #414141;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
    height: -moz-min-content;
    height: min-content;
    font-style: italic;
    padding: 0.2rem 0.65rem 0.2rem 0.5rem;
    transition: all 0.5s linear, color 0.5s linear;
    overflow: hidden;
    box-shadow: 1px 1px 0.5px 0.8px #0000001a;
}

.my-docs-show-more-button:hover {
    color: #000000;
}

.my-docs-list-item-last-modified {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
}

.my-docs-list-item-last-modified p {
    color: #585858;
    font-size: 0.73em;
    margin: 0;
}



