.doc-manager-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doc-manager-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
    border-bottom: 1px solid #bebebe;
    background-color: #ffffff;
}

.doc-manager-header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
    transition: background-color 0.2s;
}

.doc-manager-category-manager-link {
    border-right: 1px solid #bebebe;
    border-left: 1px solid #bebebe;
}

.doc-manager-header-link button {
    font-family: var(--font-family);
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    color: #6d6d6d;
    cursor: pointer;
    background-color: inherit;
    transition: color 0.2s ease;
}

.doc-manager-header-link button:hover, .doc-manager-header-link button.selected {
    background-color: inherit;
    color: #000000;
}

.doc-manager-header-link button span.color-red {
    color: #ff5d5d;
    transition: color 0.2s ease;
}

.doc-manager-header-link button:hover span.color-red, .doc-manager-header-link button.selected span.color-red {
    color: var(--color-red);
}

.doc-manager-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.doc-upload-title {
    margin-top: 1em;
    text-align: center;
    padding: 0 0.9rem;
}

.doc-upload-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.2rem;
    margin-top: 1em;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #00000041;
}

.doc-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 1em;
}

.doc-upload-form .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.doc-upload-form .form-group.hidden {
    display: none;
}

.doc-upload-form .form-group label {
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.doc-upload-form .form-group input, .doc-upload-form .form-group textarea, .doc-user-search {
    font-family: var(--font-family);
    font-size: 1em;
    padding: 0.3rem 0;
    padding-left: 0.5rem;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
}

.doc-upload-form .form-group input:focus, .doc-upload-form .form-group textarea:focus {
    outline: none;
    border-color: rgba(255, 93, 93, 0.47);
    box-shadow: 0 0 2px 2px rgba(255, 69, 69, 0.25);
}

.doc-upload-form .form-group input {
    min-height: 1.2rem;
}

.doc-upload-form .form-group textarea {
    height: 9em;
}

.doc-upload-form .form-group .remaining-chars {
    visibility: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8em;
    color: #6d6d6d;
    margin-top: 0.2em;
}

.doc-upload-form .form-group .remaining-chars.visible {
    visibility: visible;
}

.doc-upload-form .form-group input::placeholder, .doc-upload-form .form-group textarea::placeholder {
    font-size: 0.9em;
}

.doc-upload-category {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 0.25rem;
    margin-bottom: 0.2rem;
}

.doc-user-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.doc-user-search {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45% !important;
    height: 100%;
}

.doc-user-search.focused {
    border-color: rgba(255, 93, 93, 0.47);
    box-shadow: 0 0 2px 2px rgba(255, 69, 69, 0.25);
}

.doc-upload-form .form-group .doc-user-search input {
    width: 80%;
    border: none;
    padding: none;
}

.doc-upload-form .form-group .doc-user-search:focus {
    border-color: rgba(255, 93, 93, 0.47);
    box-shadow: 0 0 2px 2px rgba(255, 69, 69, 0.25);
}

.doc-upload-form .form-group .doc-user-search input:focus {
    outline: none;
    box-shadow: none;
}

.doc-user-search-icon {
    margin-left: 0.5rem;
    padding-right: 0.5rem;
    height: 100%;
}

.doc-user-search-icon img {
    height: 15px;
    width: auto;
    margin-top: 0.3rem;
}

.doc-user-select-item {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0;
    border-bottom: 1px solid #bebebe;
}

.doc-user-select-item-inline {
    width: 100%;
}

.doc-upload-file-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 0.5em 0.5em;
    cursor: pointer;
}

.doc-upload-file-label-text {
    font-size: 1em;
    font-weight: 500;
    color: #6d6d6d;
}

.doc-upload-file-name {
    font-size: 0.9em;
    font-weight: 400;
    max-width: 70%;
    color: #868686;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.doc-upload-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.doc-upload-button-container .doc-upload-button {
    font-family: var(--font-family);
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    background-color: #ff5d5d;
    color: #ffffff;
    transition: background-color 0.2s;
}

.doc-upload-button-container .doc-upload-button:hover {
    background-color: var(--color-red);
}

.doc-upload-button-container .doc-upload-button[disabled] {
    background-color: #bebebe;
    cursor: not-allowed;
}

/* Doc Admin Management */

.doc-admin-management-documents-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}

.doc-admin-management-documents-grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
    width: 95%;
    background-color: #ffffff;
}

.doc-admin-management-documents-grid > p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    min-height: 60px;
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
}

.doc-admin-management-documents-grid > p.title {
    font-weight: 500;
}

.doc-admin-management-documents-grid > p.description {
    font-size: 0.9em;
    max-height: 70px;
}

.doc-admin-management-documents-grid > p.description.overflowing {
    align-items: start;
}

.doc-admin-management-documents-grid > p.description.overflowing::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 50px, white);
}

.doc-admin-management-documents-grid > p.date {
    font-size: 0.85em;
}

.doc-admin-management-documents-grid > .actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
    margin: 0;
    padding: 0.5em;
}

.doc-admin-management-documents-grid .edit-button {
    font-family: var(--font-family);
    font-size: 1.05em;
    font-weight: 500;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: inherit;
    transition: color 0.2s;
}

.doc-admin-management-documents-grid a {
    font-size: 1.05em;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

.doc-admin-management-documents-grid .edit-button:hover,
.doc-admin-management-documents-grid a:hover {
    color: var(--color-red);
}

.doc-view-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.doc-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.2rem;
    margin: 1rem 0;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px #00000041;
}

.doc-view-users, .doc-view-links, .doc-view-dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

.doc-view-main-info {
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    text-align: center;
    border-bottom: 1px solid #bebebe;
}

.doc-view-main-info .info-title {
    font-weight: 500;
    border-right: 1px solid #bebebe;
}

.doc-view-main-info .info-title.bold {
    font-weight: 600;
}

.doc-view-main-info h2, .doc-view-main-info p {
    margin: 0;
    padding: 0.6rem;
}

.doc-view-main-info .doc-description {
    overflow: hidden;
    max-height: 120px;
}

.doc-view-main-info .doc-description.overflowing::before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 200px, white);
}

.doc-view-main-info.expanded .doc-description {
    max-height: 100%;
    margin-bottom: 0.8rem;
    transition: max-height 0.25s ease;
}

.doc-view-main-info.expanded .doc-description.overflowing::before {
    display: none;
}

.doc-view-main-info .desc-show-more-btn {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75em;
    font-weight: 600;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.doc-view-main-info .desc-show-more-btn:hover {
    color: var(--color-red);
}

.doc-view-main-info .doc-description.overflowing + .desc-show-more-btn {
    display: block;
}

.doc-view-users {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-bottom: 1px solid #bebebe;
    max-height: 200px;
    overflow: hidden;
    margin: 1.5rem 0;
    width: 85%;
}

.doc-view-users.expanded {
    max-height: 100%;
    margin-bottom: 1.5rem;
    transition: max-height 0.25s ease;
}

.doc-view-users .doc-view-users-title {
    margin: 0;
    padding: 0.3rem;
}

.doc-view-users .doc-view-users-number {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 1.3rem;
    color: #1b1b1b;
}

.doc-view-users-list {
    list-style: none;
    padding: 0.5rem;
}

.doc-view-users-list-item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    border-top: 1px solid #bebebe9d;
}

.doc-view-users-list-item p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

.users-show-more-btn {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.75em;
    font-weight: 600;
    border: none;
    background: transparent;
    color: black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.users-show-more-btn:hover {
    color: var(--color-red);
}

.doc-view-users-list.overflowing + .users-show-more-btn {
    display: block;
}

.doc-view-dates {
    font-size: 0.9em;
}

.doc-view-dates p {
    margin: 0;
}

.doc-view-links {
    height: 10%;
}

.doc-view-links a {
    font-family: var(--font-family);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
    transition: color 0.2s;
}

.doc-view-links a:hover {
    color: var(--color-red);
}

